.header{
    padding: 1rem 0 3rem; //top left/right bottom

}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.raw-list{
    display: flex;
    
}



.link {
    color: #999999;
}

// .header-link {

// }
